$color-fondo-dark: #0a0b0e;
$color-card-bg: #16181e;
$color-card-dark: #101117;
$color-card-border: #232730;
$color-chip-bg: #241a35;

$color-primario: #b78af7;
$color-secundario: #d4b5ff;
$color-acento: #e9d5ff;

$color-texto: #ffffff;
$color-texto-muted: #9ca3af;
$color-texto-subtext: #91CDFF;
$color-texto-oscuro: #0a0b0e;

// Tipografías
$font-titulos: 'Montserrat', sans-serif;
$font-cuerpo: 'Inter', sans-serif;

// Dimensiones
$radius-card: 16px;
$radius-button: 50px;
$radius-sm: 8px;
$shadow-main: 0 4px 20px rgba(0, 0, 0, 0.4);
$transition-main: all 0.2s ease-in-out;