@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $color-fondo-dark;
  font-family: $font-cuerpo;
  font-size: 1.5rem;
  color: $color-texto-muted;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

figure {
  margin: 0;
}